body {
	text-align: center

}
.jumbotron {
	font-family: PT Sans, Verdana;
	background-image: url("DailyPi.jpg");
	background-color: #C0C0C1;
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
}
.h1{
	color: yellow;
}
.W{
 transition: box-shadow .3s;
}

.W:hover {
	box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.N{
 transition: box-shadow .3s;
}

.N:hover {
	box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.T{
 transition: box-shadow .3s;
}

.T:hover {
	box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.R{
 transition: box-shadow .3s;
}

.R:hover {
	box-shadow: 0 0 11px rgba(33,33,33,.2);
}
