body {
	text-align: center

}
.jumbotron {
	font-family: PT Sans, Verdana;
	background-image: url("paris-1208274_960_720.jpg");
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 110%;
}
